/*******************************
MIDRUB GLOBAL VARIABLES
********************************/
/*******************************
MIDRUB ELEMENTS STYLES
********************************/
/*******************************
INBOX FACEBOOK PAGES APP STYLES
********************************/
.col-xl-9.inbox-network-content .no-accounts-selected {
  background-color: #fff;
  -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
  padding: 13px; }
.col-xl-9.inbox-network-content .nav-tabs {
  border-bottom: 0; }
  .col-xl-9.inbox-network-content .nav-tabs .nav-link {
    padding: 15px 25px;
    color: #000;
    font-size: 16px;
    -webkit-box-shadow: 0 0 33px 0 rgba(144, 163, 171, 0.15) !important;
    box-shadow: 0 0 33px 0 rgba(144, 163, 171, 0.15) !important; }
  .col-xl-9.inbox-network-content .nav-tabs .nav-link.active,
  .col-xl-9.inbox-network-content .nav-tabs .nav-link:hover,
  .col-xl-9.inbox-network-content .nav-tabs .nav-link:focus {
    border: 1px solid transparent;
    border-bottom: 3px solid #2e5f9b;
    color: #2e5f9b; }
.col-xl-9.inbox-network-content > div > div#nav-conversations > .row {
  margin: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 33px 0 rgba(144, 163, 171, 0.15);
  box-shadow: 0 0 33px 0 rgba(144, 163, 171, 0.15); }
  .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div {
    padding: 0; }
    .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-4 {
      min-height: 800px;
      border-right: 1px solid #efefef; }
      .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-4 div.inbox-filter {
        min-height: 60px;
        padding: 15px;
        border-bottom: 1px solid rgba(65, 106, 166, 0.1); }
        .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-4 div.inbox-filter .dropdown {
          float: left; }
          .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-4 div.inbox-filter .dropdown .btn-secondary {
            background-color: #fdfdfd;
            border-color: #fdfdfd;
            color: #343a40;
            border-radius: 4px;
            padding: 0;
            font-size: 16px;
            margin-top: 4px; }
            .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-4 div.inbox-filter .dropdown .btn-secondary i {
              margin-right: 0;
              margin-left: 5px;
              font-size: 16px; }
            .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-4 div.inbox-filter .dropdown .btn-secondary::after {
              display: none; }
          .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-4 div.inbox-filter .dropdown ul.dropdown-menu {
            margin: 0;
            padding: 0;
            border: 1px solid #e0e6e8;
            border-radius: 0;
            -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05); }
            .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-4 div.inbox-filter .dropdown ul.dropdown-menu li {
              padding: 0 10px;
              height: 35px;
              font-size: 14px; }
              .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-4 div.inbox-filter .dropdown ul.dropdown-menu li a {
                color: #333333;
                display: block;
                height: 35px;
                line-height: 35px;
                width: 100%; }
                .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-4 div.inbox-filter .dropdown ul.dropdown-menu li a:hover {
                  text-decoration: none;
                  border: 0; }
              .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-4 div.inbox-filter .dropdown ul.dropdown-menu li:hover {
                background-color: #f7f7f7; }
          .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-4 div.inbox-filter .dropdown ul.dropdown-menu {
            border: 1px solid #e0e6e8 !important;
            -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05) !important;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05) !important; }
      .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-4 span {
        float: right;
        color: #90949c;
        font-size: 13px;
        line-height: 30px; }
      .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-4 ul {
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 100%; }
        .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-4 ul:active, .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-4 ul:focus {
          border: none !important;
          outline: none !important; }
        .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-4 ul.scroll-bar-display:hover {
          overflow: auto; }
          .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-4 ul.scroll-bar-display:hover li .col-lg-2 {
            padding-right: 5px; }
        .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-4 ul li {
          list-style: none;
          padding: 15px;
          visibility: visible;
          cursor: pointer; }
          .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-4 ul li.conversation-active, .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-4 ul li:hover {
            background-color: #f4f4f8; }
          .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-4 ul li img {
            float: left;
            max-width: 50px;
            margin-right: 15px;
            border-radius: 50%; }
          .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-4 ul li h3 {
            font-size: 16px;
            color: #1d2129; }
          .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-4 ul li p {
            font-size: 14px;
            color: #90949c; }
          .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-4 ul li .col-lg-2 {
            color: #90949c;
            font-size: 13px; }
    .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-8 .panel .panel-heading {
      min-height: 60px;
      padding: 15px 15px 0;
      border-bottom: 1px solid rgba(65, 106, 166, 0.1); }
      .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-8 .panel .panel-heading .col-xl-8 img {
        float: left;
        max-width: 30px;
        margin-right: 15px;
        border-radius: 50%; }
      .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-8 .panel .panel-heading .col-xl-8 h3 {
        font-size: 16px;
        color: #1d2129;
        margin-bottom: 0; }
      .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-8 .panel .panel-heading .col-xl-8 p {
        font-size: 12px;
        color: #90949c;
        margin-bottom: 0; }
      .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-8 .panel .panel-heading .col-xl-4 .btn {
        background-color: transparent;
        border-color: transparent;
        padding: 0;
        font-size: 25px; }
        .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-8 .panel .panel-heading .col-xl-4 .btn i {
          color: #343a40; }
        .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-8 .panel .panel-heading .col-xl-4 .btn:hover {
          opacity: 0.7; }
    .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-8 .panel .panel-body {
      overflow: auto;
      visibility: hidden;
      transition: visibility 0.3s; }
      .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-8 .panel .panel-body:active, .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-8 .panel .panel-body:focus {
        border: none !important;
        outline: none !important; }
      .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-8 .panel .panel-body:hover {
        transition: visibility 0s 0.3s;
        visibility: visible; }
      .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-8 .panel .panel-body ul {
        margin: 0;
        padding: 0;
        visibility: visible; }
        .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-8 .panel .panel-body ul li {
          list-style: none;
          padding: 20px 20px 0; }
          .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-8 .panel .panel-body ul li > img {
            position: relative;
            float: left;
            margin-left: 0;
            margin-top: 0;
            width: 65px;
            height: 65px;
            border-radius: 50%; }
          .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-8 .panel .panel-body ul li > .message-body {
            border: 1px solid #eee;
            margin-bottom: 20px;
            margin-left: 85px;
            margin-right: 0px;
            padding: 10px 20px;
            position: relative;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -o-border-radius: 4px;
            border-radius: 4px;
            background-color: #f5f6f7;
            color: #343a40;
            position: relative; }
            .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-8 .panel .panel-body ul li > .message-body .meta {
              font-size: 13px;
              color: #aaaaaa;
              padding-bottom: 8px;
              margin-bottom: 10px !important;
              border-bottom: 1px solid #eee; }
              .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-8 .panel .panel-body ul li > .message-body .meta i {
                margin-right: 0; }
          .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-8 .panel .panel-body ul li.my-reply {
            padding: 20px 0 20px 50px;
            width: calc(100% - 20px); }
            .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-8 .panel .panel-body ul li.my-reply .message-body {
              color: #346cb0;
              background-color: rgba(52, 108, 176, 0.08);
              border-color: rgba(52, 108, 176, 0.08); }
    .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-8 .panel .panel-footer {
      padding: 15px;
      border-top: 1px solid rgba(65, 106, 166, 0.1); }
      .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-8 .panel .panel-footer .new-message {
        border: 0;
        resize: none;
        box-shadow: none;
        border: 1px solid #eee;
        width: 100%;
        height: 62px;
        padding: 10px 15px; }
        .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-8 .panel .panel-footer .new-message:active, .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-8 .panel .panel-footer .new-message:focus {
          border-top: 1px solid rgba(65, 106, 166, 0.1);
          outline: none !important; }
      .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-8 .panel .panel-footer .emojionearea-editor {
        font-size: 16px;
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto;
        height: 40px;
        min-height: 30px;
        max-height: 40px;
        width: calc(100% + 20px);
        margin-left: -10px; }
      .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-8 .panel .panel-footer button {
        height: 62px;
        border-radius: .25rem;
        color: #FFFFFF;
        width: 100%;
        background-color: #1da1f2;
        border-color: #1da1f2; }
        .col-xl-9.inbox-network-content > div > div#nav-conversations > .row > div.col-xl-8 .panel .panel-footer button:hover {
          opacity: 0.8; }
.col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row {
  margin: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 33px 0 rgba(144, 163, 171, 0.15);
  box-shadow: 0 0 33px 0 rgba(144, 163, 171, 0.15); }
  .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div {
    padding: 18px 15px;
    min-height: 800px; }
    .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .inbox-connect-requirement {
      color: #343a40;
      box-shadow: 0 1px 1px 0 #f0f1f4;
      border: 1px solid #eee;
      padding: 15px;
      height: 70px;
      margin-bottom: 20px; }
      .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .inbox-connect-requirement p {
        line-height: 40px; }
        .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .inbox-connect-requirement p a {
          height: 40px;
          line-height: 35px;
          width: auto;
          text-align: center;
          font-size: 16px;
          background-color: #ffffff;
          border: 1px solid rgba(65, 106, 166, 0.1);
          color: #343a40;
          float: right;
          margin-top: -1px;
          box-shadow: inset 0 -3px 0 0 rgba(65, 106, 166, 0.1) !important;
          border-radius: 3px;
          padding: 0 20px; }
          .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .inbox-connect-requirement p a:hover {
            color: #333333;
            border: 1px solid rgba(65, 106, 166, 0.2);
            box-shadow: inset 0 -3px 0 0 rgba(65, 106, 166, 0.2) !important; }
          .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .inbox-connect-requirement p a i {
            margin-right: 0; }
    .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div #quick-replies-tab {
      border-right: 1px solid #e0e6e8; }
      .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div #quick-replies-tab .nav-link {
        background-color: transparent;
        border: 1px solid transparent;
        color: #343a40; }
        .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div #quick-replies-tab .nav-link:hover {
          color: rgba(0, 0, 0, 0.95); }
        .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div #quick-replies-tab .nav-link.active {
          background-color: transparent;
          color: rgba(0, 0, 0, 0.95);
          border: 1px solid #e0e6e8;
          background-color: #FFFFFF;
          border-right: 1px solid #FFFFFF;
          margin-right: -1px;
          margin: 0 -1px 0 0;
          border-radius: 0.28571429rem 0 0 0.28571429rem !important; }
    .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-collections > .row:first-child .quick-replies-search {
      height: 60px; }
      .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-collections > .row:first-child .quick-replies-search .input-group-prepend {
        width: 22px; }
        .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-collections > .row:first-child .quick-replies-search .input-group-prepend i {
          line-height: 60px;
          font-size: 20px;
          color: #797876; }
      .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-collections > .row:first-child .quick-replies-search .quick-replies-for-replies {
        height: 59px; }
      .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-collections > .row:first-child .quick-replies-search .quick-replies-cancel-search-for-replies {
        background-color: transparent;
        border: 0;
        display: none; }
        .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-collections > .row:first-child .quick-replies-search .quick-replies-cancel-search-for-replies .icon-close {
          color: #797876; }
        .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-collections > .row:first-child .quick-replies-search .quick-replies-cancel-search-for-replies:hover {
          cursor: pointer; }
          .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-collections > .row:first-child .quick-replies-search .quick-replies-cancel-search-for-replies:hover .icon-close {
            opacity: 0.7; }
      .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-collections > .row:first-child .quick-replies-search .form-control {
        border: 0; }
    .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-collections > .row:first-child .quick-replies-new-reply {
      background-color: #6086bf;
      border: 1px solid #6086bf;
      color: #FFFFFF;
      font-size: 14px;
      border-radius: 3px;
      padding: 7px 15px;
      float: right;
      margin-top: 12px; }
      .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-collections > .row:first-child .quick-replies-new-reply:hover {
        opacity: 0.7; }
    .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-collections .quick-replies-collections {
      margin: 0;
      padding: 0;
      border-top: 1px solid #e0e6e8; }
      .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-collections .quick-replies-collections li {
        list-style: none;
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;
        padding-top: 20px; }
        .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-collections .quick-replies-collections li nav {
          border: 1px solid #dfe3e8;
          -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          padding: 0;
          margin-bottom: 20px;
          border-radius: 3px; }
          .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-collections .quick-replies-collections li nav > a {
            margin-top: -35px;
            margin-right: 15px;
            font-size: 17px;
            color: #343a40; }
            .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-collections .quick-replies-collections li nav > a:hover {
              border: 0;
              color: rgba(0, 0, 0, 0.95); }
          .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-collections .quick-replies-collections li nav .nav-link {
            padding: 5px 25px;
            background-color: transparent;
            border: 0;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            line-height: 38px;
            color: #343a40;
            border-radius: 0; }
            .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-collections .quick-replies-collections li nav .nav-link.active, .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-collections .quick-replies-collections li nav .nav-link:hover {
              color: #212b36;
              background-color: #f4f6f8;
              border-bottom: 1px solid #dfe3e8; }
        .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-collections .quick-replies-collections li .tab-content .tab-pane {
          border: 1px solid #f3efef;
          min-height: 50px;
          padding: 15px; }
    .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-analytics .quick-replies-analytics-actions {
      background: transparent none !important;
      color: rgba(0, 0, 0, 0.6) !important;
      font-weight: 400;
      border-radius: .28571429rem;
      text-transform: none;
      text-shadow: none !important;
      -webkit-box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.15) inset;
      box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.15) inset;
      padding: 7px 20px;
      display: inline-block; }
    .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-analytics .dropdown {
      margin-bottom: 10px;
      float: right; }
      .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-analytics .dropdown .btn-secondary {
        border: 1px solid #dddddd;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        background-color: #FFFFFF;
        color: #343a40;
        line-height: 25px;
        font-size: 15px; }
        .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-analytics .dropdown .btn-secondary:after {
          float: right;
          margin-top: 10px;
          margin-left: 10px; }
      .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-analytics .dropdown .dropdown-menu {
        padding: 0;
        width: 100%; }
        .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-analytics .dropdown .dropdown-menu .dropdown-item {
          font-size: 16px;
          padding: 10px; }
          .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-analytics .dropdown .dropdown-menu .dropdown-item i {
            margin: 0;
            margin-right: 5px;
            color: #343a40; }
          .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-analytics .dropdown .dropdown-menu .dropdown-item:active, .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-analytics .dropdown .dropdown-menu .dropdown-item:focus, .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-analytics .dropdown .dropdown-menu .dropdown-item:hover {
            background-color: #f7f7f7 !important;
            color: #343a40;
            border: 0; }
    .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-analytics .quick-replies-analytics {
      margin: 0;
      padding: 0;
      border-top: 1px solid #e0e6e8; }
      .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-analytics .quick-replies-analytics li {
        list-style: none;
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;
        padding-top: 20px; }
        .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-analytics .quick-replies-analytics li nav {
          border: 1px solid #dfe3e8;
          -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          padding: 0;
          border-radius: 3px; }
          .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-analytics .quick-replies-analytics li nav .col-xl-1 a:hover {
            border-bottom: 0; }
          .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-analytics .quick-replies-analytics li nav .col-xl-1 a img {
            max-width: 100%;
            margin: 15px;
            border-radius: 50%; }
          .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-analytics .quick-replies-analytics li nav .col-xl-11 {
            padding: 15px; }
        .col-xl-9.inbox-network-content > div > div#nav-quick-replies > .row > div .col-xl-9 #v-pills-analytics .quick-replies-analytics li .tab-content .tab-pane {
          border: 1px solid #f3efef;
          min-height: 50px;
          padding: 15px; }
.col-xl-9.inbox-network-content > div > div#nav-private-messages > .row {
  margin: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 33px 0 rgba(144, 163, 171, 0.15);
  box-shadow: 0 0 33px 0 rgba(144, 163, 171, 0.15);
  min-height: 800px; }
  .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div {
    padding: 18px 15px;
    min-height: 800px; }
    .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .inbox-connect-requirement {
      color: #343a40;
      box-shadow: 0 1px 1px 0 #f0f1f4;
      border: 1px solid #eee;
      padding: 15px;
      height: 70px;
      margin-bottom: 20px; }
      .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .inbox-connect-requirement p {
        line-height: 40px; }
        .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .inbox-connect-requirement p a {
          height: 40px;
          line-height: 35px;
          width: auto;
          text-align: center;
          font-size: 16px;
          background-color: #ffffff;
          border: 1px solid rgba(65, 106, 166, 0.1);
          color: #343a40;
          float: right;
          margin-top: -1px;
          box-shadow: inset 0 -3px 0 0 rgba(65, 106, 166, 0.1) !important;
          border-radius: 3px;
          padding: 0 20px; }
          .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .inbox-connect-requirement p a:hover {
            color: #333333;
            border: 1px solid rgba(65, 106, 166, 0.2);
            box-shadow: inset 0 -3px 0 0 rgba(65, 106, 166, 0.2) !important; }
          .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .inbox-connect-requirement p a i {
            margin-right: 0; }
    .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div #quick-replies-tab {
      border-right: 1px solid #e0e6e8; }
      .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div #quick-replies-tab .nav-link {
        background-color: transparent;
        border: 1px solid transparent;
        color: #343a40; }
        .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div #quick-replies-tab .nav-link:hover {
          color: rgba(0, 0, 0, 0.95); }
        .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div #quick-replies-tab .nav-link.active {
          background-color: transparent;
          color: rgba(0, 0, 0, 0.95);
          border: 1px solid #e0e6e8;
          background-color: #FFFFFF;
          border-right: 1px solid #FFFFFF;
          margin-right: -1px;
          margin: 0 -1px 0 0;
          border-radius: 0.28571429rem 0 0 0.28571429rem !important; }
    .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-collections > .row:first-child .private-messages-search {
      height: 60px; }
      .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-collections > .row:first-child .private-messages-search .input-group-prepend {
        width: 22px; }
        .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-collections > .row:first-child .private-messages-search .input-group-prepend i {
          line-height: 60px;
          font-size: 20px;
          color: #797876; }
      .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-collections > .row:first-child .private-messages-search .private-messages-search-for-messages {
        height: 59px; }
      .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-collections > .row:first-child .private-messages-search .private-messages-cancel-search-for-messages {
        background-color: transparent;
        border: 0;
        display: none; }
        .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-collections > .row:first-child .private-messages-search .private-messages-cancel-search-for-messages .icon-close {
          color: #797876; }
        .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-collections > .row:first-child .private-messages-search .private-messages-cancel-search-for-messages:hover {
          cursor: pointer; }
          .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-collections > .row:first-child .private-messages-search .private-messages-cancel-search-for-messages:hover .icon-close {
            opacity: 0.7; }
      .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-collections > .row:first-child .private-messages-search .form-control {
        border: 0; }
    .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-collections > .row:first-child .quick-replies-new-message {
      background-color: #6086bf;
      border: 1px solid #6086bf;
      color: #FFFFFF;
      font-size: 14px;
      border-radius: 3px;
      padding: 7px 15px;
      float: right;
      margin-top: 12px; }
      .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-collections > .row:first-child .quick-replies-new-message:hover {
        opacity: 0.7; }
    .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-collections .private-messages-collections {
      margin: 0;
      padding: 0;
      border-top: 1px solid #e0e6e8; }
      .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-collections .private-messages-collections li {
        list-style: none;
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;
        padding-top: 20px; }
        .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-collections .private-messages-collections li nav {
          border: 1px solid #dfe3e8;
          -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          padding: 0;
          margin-bottom: 20px;
          border-radius: 3px; }
          .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-collections .private-messages-collections li nav > a {
            margin-top: -35px;
            margin-right: 15px;
            font-size: 17px;
            color: #343a40; }
            .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-collections .private-messages-collections li nav > a:hover {
              border: 0;
              color: rgba(0, 0, 0, 0.95); }
          .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-collections .private-messages-collections li nav .nav-link {
            padding: 5px 25px;
            background-color: transparent;
            border: 0;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            line-height: 38px;
            color: #343a40;
            border-radius: 0; }
            .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-collections .private-messages-collections li nav .nav-link.active, .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-collections .private-messages-collections li nav .nav-link:hover {
              color: #212b36;
              background-color: #f4f6f8;
              border-bottom: 1px solid #dfe3e8; }
        .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-collections .private-messages-collections li .tab-content .tab-pane {
          border: 1px solid #f3efef;
          min-height: 50px;
          padding: 15px; }
    .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-analytics .private-messages-analytics-actions {
      background: transparent none !important;
      color: rgba(0, 0, 0, 0.6) !important;
      font-weight: 400;
      border-radius: .28571429rem;
      text-transform: none;
      text-shadow: none !important;
      -webkit-box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.15) inset;
      box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.15) inset;
      padding: 7px 20px;
      display: inline-block; }
    .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-analytics .dropdown {
      margin-bottom: 10px;
      float: right; }
      .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-analytics .dropdown .btn-secondary {
        border: 1px solid #dddddd;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        background-color: #FFFFFF;
        color: #343a40;
        line-height: 25px;
        font-size: 15px; }
        .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-analytics .dropdown .btn-secondary:after {
          float: right;
          margin-top: 10px;
          margin-left: 10px; }
      .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-analytics .dropdown .dropdown-menu {
        padding: 0;
        width: 100%; }
        .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-analytics .dropdown .dropdown-menu .dropdown-item {
          font-size: 16px;
          padding: 10px; }
          .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-analytics .dropdown .dropdown-menu .dropdown-item i {
            margin: 0;
            margin-right: 5px;
            color: #343a40; }
          .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-analytics .dropdown .dropdown-menu .dropdown-item:active, .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-analytics .dropdown .dropdown-menu .dropdown-item:focus, .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-analytics .dropdown .dropdown-menu .dropdown-item:hover {
            background-color: #f7f7f7 !important;
            color: #343a40;
            border: 0; }
    .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-analytics .private-messages-analytics {
      margin: 0;
      padding: 0;
      border-top: 1px solid #e0e6e8; }
      .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-analytics .private-messages-analytics li {
        list-style: none;
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;
        padding-top: 20px; }
        .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-analytics .private-messages-analytics li nav {
          border: 1px solid #dfe3e8;
          -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          padding: 0;
          border-radius: 3px; }
          .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-analytics .private-messages-analytics li nav .col-xl-1 a:hover {
            border-bottom: 0; }
          .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-analytics .private-messages-analytics li nav .col-xl-1 a img {
            max-width: 100%;
            margin: 15px;
            border-radius: 50%; }
          .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-analytics .private-messages-analytics li nav .col-xl-11 {
            padding: 15px; }
        .col-xl-9.inbox-network-content > div > div#nav-private-messages > .row > div .col-xl-9 #v-messages-analytics .private-messages-analytics li .tab-content .tab-pane {
          border: 1px solid #f3efef;
          min-height: 50px;
          padding: 15px; }

/*******************************
MODALS STYLES
********************************/
#quick-replies-new-reply .dropdown,
#quick-replies-new-message .dropdown {
  margin-bottom: 15px; }
  #quick-replies-new-reply .dropdown .btn-secondary,
  #quick-replies-new-message .dropdown .btn-secondary {
    border: 1px solid #dddddd;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    color: #343a40;
    width: 100%;
    text-align: left; }
    #quick-replies-new-reply .dropdown .btn-secondary:after,
    #quick-replies-new-message .dropdown .btn-secondary:after {
      float: right;
      margin-top: 10px; }
  #quick-replies-new-reply .dropdown .dropdown-menu,
  #quick-replies-new-message .dropdown .dropdown-menu {
    padding: 0;
    width: 100%; }
    #quick-replies-new-reply .dropdown .dropdown-menu .dropdown-item,
    #quick-replies-new-message .dropdown .dropdown-menu .dropdown-item {
      font-size: 16px;
      padding: 10px; }
      #quick-replies-new-reply .dropdown .dropdown-menu .dropdown-item i,
      #quick-replies-new-message .dropdown .dropdown-menu .dropdown-item i {
        margin: 0;
        margin-right: 5px;
        color: #343a40; }
      #quick-replies-new-reply .dropdown .dropdown-menu .dropdown-item:active, #quick-replies-new-reply .dropdown .dropdown-menu .dropdown-item:focus, #quick-replies-new-reply .dropdown .dropdown-menu .dropdown-item:hover,
      #quick-replies-new-message .dropdown .dropdown-menu .dropdown-item:active,
      #quick-replies-new-message .dropdown .dropdown-menu .dropdown-item:focus,
      #quick-replies-new-message .dropdown .dropdown-menu .dropdown-item:hover {
        background-color: #f7f7f7 !important;
        color: #343a40;
        border: 0; }
#quick-replies-new-reply .quick-replies-new-reply-question,
#quick-replies-new-reply .private-messages-new-message-question,
#quick-replies-new-message .quick-replies-new-reply-question,
#quick-replies-new-message .private-messages-new-message-question {
  width: 100%;
  height: 100px;
  resize: none;
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: -5px; }
#quick-replies-new-reply .quick-replies-new-reply-response,
#quick-replies-new-reply .private-messages-new-message-response,
#quick-replies-new-message .quick-replies-new-reply-response,
#quick-replies-new-message .private-messages-new-message-response {
  width: 100%;
  height: 100px;
  resize: none;
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: -5px; }
#quick-replies-new-reply .quick-replies-new-reply-save,
#quick-replies-new-message .quick-replies-new-reply-save {
  background-color: #6086bf;
  border: 1px solid #6086bf;
  color: #FFFFFF;
  font-size: 14px;
  border-radius: 3px;
  padding: 7px 15px;
  float: right; }
  #quick-replies-new-reply .quick-replies-new-reply-save:hover,
  #quick-replies-new-message .quick-replies-new-reply-save:hover {
    opacity: 0.7; }

/*# sourceMappingURL=styles.css.map */
