 

#accountinsights {
                        height: 36px;
                        //background-color: #9D8D8F;
                        border-color:#9D8D8F;
                        font-size: 14px;
                        color:white;

}

 #btn{
                        height: 36px;
                        background-color: #b306cc;
                        border-color: #b306cc;
                        font-size: 14px;
                        color:white;
 }  
 #btndrop{
                        height: 36px;
                        background-color: #b306cc;
                        border-color: #b306cc;
                        font-size: 14px;
 }  
 .icon-share-alt{
                        color:white;
 }
 
    .icon-check,
.fa-circle {
    color: #5A5560;
    margin-left: 5px;
}
